// Specific CSS for your home-page
.smiley-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.smiley-container-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
