  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <h5>"Une erreur c'est produite, la sauvegarde n'a pu aboutir"</h5>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
