<%= link_to folder_path(folder.id) do %>
  <div class="folders__item">
    <% if folder.events.pluck(:selected).include?(true) %>
      <div class="selected folder__mark"><%= fa_icon "check" %></div>
    <% end %>
    <%= image_tag 'folder.png', width:"140px", height:"100px" %>
    <div class="folder__susbitlte">
      <h6><%= folder.name.capitalize %></h6>
    </div>
  </div>
<% end %>

<%# folder.events.pluck(:selected).include?(true) %>
