<div class="save-container hidden">
  <div class="save-content">
  <i class='fa fa-warning' style='color: red;'> Veuillez être connecté à internet sinon vos données seront perdues</i>
    <h5 class='mt-4 danger'>Choisir une évènement :</h5>
    <select id="save-day-select" class="form-select" aria-label="Default select example">
      <% days.each do |day| %>
      <option class="days-item" value="<%= day.id %>">
        <%= day.date.strftime('%d/%m/%Y') %> - <%= day.name.capitalize %>
      </option>
      <% end %>
    </select>
    <div class="save-radio-buttons">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="replace-radio-button" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Remplacer les valeurs
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="add-radio-button">
        <label class="form-check-label" for="flexRadioDefault1">
          Ajouter les valeurs
        </label>
      </div>
    </div>
    <div class="btn btn-success mt-4", id="new-day-button">
      Créer un nouvel évènement
    </div>
    <div id="new-modal" class="hidden mt-4">
    <%= render "days/new" %>
    </div>
    <div id="save-submit-button" class="btn btn-primary mt-4">
      Sauvegarder
    </div>
    <div id="save-cancel-button" class="btn btn-warning mt-4">
      Retour
    </div>
  </div>
</div>
