<div class="total-container">
  <div class="total-container-content">
    <table>
      <tr>
        <th>Dislike</th>
        <th>Like</th>
        <th>Total</th>
      </tr>
      <tr>
        <td id="dislike-td">1</td>
        <td id="like-td">1</td>
        <td id="total-td">2</td>
      </tr>
    </table>
  </div>
  <div class="close-button">
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
</div>
