<div class="total-container hide-total">
  <div class="total-container-content">
    <div class="total-container-items">
      <table>
        <tr>
          <th>
            <div class="th-total-smiley">
              <%= image_tag 'dislike.png' %>
            </div>
          </th>
          <th>
            <div class="th-total-smiley">
              <%= image_tag 'middle.png' %>
            </div>
          </th>
          <th>
            <div class="th-total-smiley">
              <%= image_tag 'like.png' %>
            </div>
          </th>
          <th>Total</th>
        </tr>
        <tr>
          <td id="dislike-td">1</td>
          <td id="middle-td">1</td>
          <td id="like-td">1</td>
          <td id="total-td">2</td>
        </tr>
        <tr>
          <td id="dislike-stats-td">0</td>
          <td id="middle-stats-td">0</td>
          <td id="like-stats-td">0</td>
          <td id="total-stats-td">100%</td>
        </tr>
      </table>
      <div class="close-button">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
