<div class="container">
  <h3 class='text-center'>Qu'avez vous pensez de notre Xsap Game ?</h3>
  <div class="smiley-container">
    <div class="smiley-container-content">
      <div class="smiley">
        <%= image_tag "dislike.png", id:'dislike', class:'face-button' %>
      </div>
      <div class="smiley">
        <%= image_tag "like.png", id:'like', class:'face-button' %>
      </div>
    </div>
  </div>
</div>
<%= render 'total_modal' %>
<%= render 'save_modal', days:@days %>
