.login-container {
  margin-top: 10vh;
  padding: 0 10vw;
}

.login-image-conainer {
  display: flex;
  justify-content: center;
  max-height: 20vh;
  width: 100%;
  margin-bottom: 24px;
  img {
    object-fit: contain;
  }
}
