.download-link-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  a {
    color: black;
  }
  i {
    font-size: 20px;
  }
}

.index-new-modal {
  padding: 0 10%;
  padding-bottom: 40px;
}

.new-event-button-container {
  display: flex;
  justify-content: center;
}

.arrow-down {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 8px;
  i {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
  }
}

.hide-arrow {
  opacity: 0;
}

.event-delete-button {
  margin: 0 8px;
}

.th-smiley {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.events-title {
  font-weight: 400;
  margin-bottom: 24px;
}

.stat-header-left i {
  font-size: 20px;
}

.folders__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px 0;
  a {
    color: black;
    text-decoration: none;
    text-align: center;
  }
}

.folders__item {
  position: relative;
  margin-bottom: 32px;
  h6 {
    max-width: 160px;
    margin-top: 12px;
  }
  img {
    box-shadow: 0 10px 10px -10px #0000005c;
  }
}

.folder__mark {
  position: absolute;
  top: -2px;
  left: 6px;
  text-align: start;
}

.download-link-container a {
  text-decoration: none;
}

.new__folder__icon {
  position: relative;
  i {
    font-size: 22px;
  }
  span {
    position: absolute;
    color: white;
    font-size: 18px;
    top: -3px;
    left: 4px;
    margin: 0;
    font-weight: 600;
  }
}
