.stats-item {
  background-color: rgba(0, 0, 0, 0.02);
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid #DEE2E6;
  padding: 24px 24px 8px 24px;
}

.stat-header {
  display: flex;
  justify-content: space-between;

  i {
    color: black;
  }
}

.stat-header-left {
  display: flex;
}

.stat-item-drag-target:hover {
  cursor: move;
}

.selected i {
  margin-left: 12px;
  color: $primary;
}

.unselected i {
  margin-left: 12px;
  color: black;
}

.stat-header-right {
  max-height: 1.5rem;
  display: flex;
  align-items: center;
  a {
    color: black;
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
    &:hover {
      color: black;
    }
  }
  i {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.remove__from__folder {
  display: flex;
  align-items: center;
  position: relative;
  transform: translateY(2px);
  span {
    color: white;
    position: absolute;
    top: -3px;
    left: 12px;
    font-size: 24px;
  }
}

.event__chart__container {
  overflow: hidden;
  transition: all 0.2s;
  height: 0px;
}

.event__chart__content {
  transition: all 0.2s;
}

.hide-content {
  opacity: 0;
}

.unfold__arrow__container {
  display: flex;
  justify-content: center;
  i {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.6);
  }
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 740px) {
.stats-item {
    padding: 8px;
  }
}
