.stats-item {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #DEE2E6;
  padding: 24px;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  i {
    color: black;
  }
}

.stat-header-left {
  display: flex;
}

.selected i {
  margin-left: 12px;
  color: $primary;
}

.unselected i {
  margin-left: 12px;
  color: black;
}

.stat-header-right {
  a {
    color: black;
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
    &:hover {
      color: black;
    }
  }
}

.download-link-container {
  display: flex;
  justify-content: flex-end;
  a {
    color: black;
  }
}

.index-new-modal {
  padding: 0 10%;
  padding-bottom: 40px;
}

.new-day-button-container {
  display: flex;
  justify-content: center;
}

.arrow-down {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 8px;
  i {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
  }
}

.hide-arrow {
  opacity: 0;
}

.day-delete-button {
  margin: 0 8px;
}

.th-smiley {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
