.stats-item {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #DEE2E6;
  padding: 24px;
}

.stat-header {
  display: flex;
  justify-content: space-between;
  i {
    color: black;
  }
}

.stat-header-left {
  display: flex;
}

.selected i {
  margin-left: 12px;
  color: $primary;
}

.unselected i {
  margin-left: 12px;
  color: black;
}

.stat-header-right {
  a {
    color: black;
    text-decoration: none;
    margin: 8px;
    font-size: 16px;
    &:hover {
      color: black;
    }
  }
}

.download-link-container {
  display: flex;
  justify-content: flex-end;
  a {
    color: black;
  }
}

.index-new-modal {
  padding: 0 10%;
  padding-bottom: 40px;
}

.new-day-button-container {
  display: flex;
  justify-content: center;
}
